@model NhaXeMaiLinh.Models.Data.KhachHang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Chỉnh sửa thông tin khách hàng";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<h1>Cập nhật thông tin</h1>
<h4>Khách hàng</h4>
<div class="row">
    <div class="offset-xl-3 col-xl-6 col-12">
        <form asp-action="Edit" id="form" class="needs-validation" novalidate>
            <div class="card mb-4">
                <!-- card body -->
                <div class="card-body">
                    <!-- row -->
                    <div class="row gx-3">
                        <input type="hidden" asp-for="KhachHangID" />
                        <div class="col-md-6 form-group mb-3">
                            <label asp-for="HoTen" class="control-label">Họ tên <span class="text-danger">*</span></label>
                            <input asp-for="HoTen" class="form-control" required />
                            <span asp-validation-for="HoTen" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label asp-for="SDT" class="control-label">Điện thoại <span class="text-danger">*</span></label>
                            <input asp-for="SDT" class="form-control" required />
                            <span asp-validation-for="SDT" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label asp-for="Email" class="control-label">Email <span class="text-danger">*</span></label>
                            <input type="email" asp-for="Email" class="form-control" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label asp-for="CCCD" class="control-label">CCCD <span class="text-danger">*</span></label>
                            <input type="text" asp-for="CCCD" class="form-control" maxlength="12" pattern="\d{12}" required />
                            <span asp-validation-for="CCCD" id="CCCD-error" class="text-danger"></span>
                        </div>
                        <div class="col-md-9 form-group mb-3">
                            <label asp-for="DiaChi" class="control-label">Địa chỉ <span class="text-danger">*</span></label>
                            <input asp-for="DiaChi" class="form-control" required />
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 form-group mb-3">
                            <label asp-for="HangThanhVien" class="control-label">Hạng thành viên <span class="text-danger">*</span></label>
                            <select asp-for="HangThanhVien" class="form-select" asp-items="ViewBag.DSHangThanhVien" required></select>
                            <span asp-validation-for="HangThanhVien" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <a asp-action="Index" class="btn btn-outline-primary me-2">Hủy</a>
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>        
        document.getElementById('form').addEventListener('submit', function(event) {
            let cccdInput = document.getElementById('CCCD');
            let cccdError = document.getElementById('CCCD-error');

            if (!cccdInput.checkValidity()) {
                event.preventDefault();
                cccdError.style.opacity = '0 !important;';
            } else {
                cccdError.style.opacity = '100 !important';
                cccdError.textContent = 'Căn cước công dân hợp lệ!';
            }
        });
    </script>
}
