@model NhaXeMaiLinh.ViewModels.ChangePasswordVM
@{
    ViewData["Title"] = "Change Password";

    bool isExternalLogin = TempData["IsExternalLogin"] != null && (bool)TempData["IsExternalLogin"];
}

@if (TempData["SuccessMessage"] != null)

{
    <div class="alert alert-success d-flex justify-content-center align-items-center">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
        <div class="alert alert-success d-flex justify-content-center align-items-center" style="font-size: 25px;">
            @TempData["ErrorMessage"]
            @if (isExternalLogin)

            {
               
            }
        </div>
}

@if (!isExternalLogin)

{
    <h2 class="mb-2 mt-4 text-center" style="font-size: 20px;">Đổi mật khẩu</h2>
    <!-- Sử dụng d-flex để căn giữa form -->
    <div class="d-flex justify-content-center align-items-center" style="max-height: 800px;">
        <form asp-action="ChangePassword" method="post" asp-antiforgery="true" autocomplete="off" style="max-width:600px;">
            <div class="form-group">
                <label asp-for="CurrentPassword">Nhập mật khẩu hiện tại: </label>
                <input asp-for="CurrentPassword" class="form-control" type="password" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Nhập mật khẩu mới</label>
                <input asp-for="NewPassword" class="form-control" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Nhập mật khẩu mới</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center"> <button type="submit" class="btn btn-primary text-center">Đổi mật khẩu</button></div>
        </form>
    </div>
}
