@model NhaXeMaiLinh.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "Quên Mật Khẩu";
}

<h2 class ="mb-4 text-center mt-4" style="font-size: 20px;">@ViewData["Title"]</h2>
<div class="d-flex justify-content-center align-items-center" >
<form method="post" asp-action="ForgotPassword" style="width:500px;">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Đặt Lại Mật Khẩu</button>
</form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
