@{
    ViewData["Title"] = "Xác Nhận Đặt Lại Mật Khẩu";
}

<h2 class="mb-4 mt-4 text-center" style="font-size: 20px;">@ViewData["Title"]</h2>
<div class="d-flex justify-content-center align-items-center">
<p>
    Một email đã được gửi đến địa chỉ của bạn với liên kết để đặt lại mật khẩu. Vui lòng kiểm tra hộp thư đến của bạn.
</p>
<p>
        <a href="/dang-nhap" style='text-decoration:none;'>Quay lại trang đăng nhập</a>
</p>
</div>