<style>
    .alert-warning {
        white-space: nowrap; /* Không cho phép xuống dòng */
        background-color: #ffcc00; /* Màu nền thông báo */
    }

</style>
<div class="alert alert-warning mt-4 text-center">
    <strong>Không có kết quả được tìm thấy.</strong>
</div>
