<div class="container text-center">
	<img src="images/qq.png" class="img-fluid">
</div>

<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<h2 class="section-title">Tại sao chọn chúng tôi ?</h2>
				<p>MAI LINH LINES - CHẤT LƯỢNG LÀ DANH DỰ</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3> Hơn 350 Phòng vé - Bưu cục</h3>
							<p>Vi vu có hơn 350 phòng vé, trạm trung chuyển, bến xe,... trên toàn hệ thống</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hơn 1,000 chuyến xe</h3>
							<p>Phương Trang phục vụ hơn 1,000 chuyến xe đường dài và liên tỉnh mỗi ngày</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3> Hơn 20 Triệu Lượt khách</h3>
							<p>Phương Trang phục vụ hơn 20 triệu lượt khách bình quân 1 năm trên toàn quốc</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Hỗ trợ 24/7 </h3>
							<p>
								Hỗ trợ khách hàng 24/7, đảm bảo luôn sẵn sàng để đáp ứng nhu cầu của bạn bất cứ lúc nào
								trong ngày hay đêm
							</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">

				<div class="img-wrap mt-5">
					<img src="images/anh dep.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>

@* <!-- Start Blog Section -->
<div class="blog-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6">
				<h2 class="section-title">Recent Blog</h2>
			</div>
			<div class="col-md-6 text-start text-md-end">
				<a href="#" class="more">View All Posts</a>
			</div>
		</div>

		<div class="row">

			<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
					<a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image" class="img-fluid"></a>
					<div class="post-content-entry">
						<h3><a href="#">First Time Home Owner Ideas</a></h3>
						<div class="meta">
							<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
					<a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image" class="img-fluid"></a>
					<div class="post-content-entry">
						<h3><a href="#">How To Keep Your Furniture Clean</a></h3>
						<div class="meta">
							<span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
				<div class="post-entry">
					<a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image" class="img-fluid"></a>
					<div class="post-content-entry">
						<h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
						<div class="meta">
							<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div> *@