/* Nút hình tròn */
.chat-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}
/* Khung popup */
.chat-popup {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
}

    .chat-input input {
        flex: 1;
        padding: 10px;
        border: none;
    }

    .chat-input button {
        padding: 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

.chat-circle img.chat-icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
    border-radius: 50%;
}
